    <html>
        <!-- WELCOME PAGE -->
<head>
    <meta charset="utf-8" />
    <!-- Include to ensure responsive pages are displayed correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap and custom CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <!-- script -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/slider.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <!-- script -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>

<style>
    
.back {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;

}

.btn-strength{
  align-self: center;
  height: 150px;
  width: 100%;
  background-repeat:no-repeat;
}

.btn-relax{
  align-self: center;
  height: 150px;
  width: 100%;
  background-repeat:no-repeat;

}

.btn-meditate{
  align-self: center;
  height: 150px;
  width: 100%;
   background-repeat:no-repeat;
}

.nav{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    background-color: #333;
    align-items: center;
  }


  .nav a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14 16px;
      text-decoration: none;
      font-size: 17px;
      width: 32%;
    }

    .nav a:hover {
      background: #f1f1f1;
      color: black;
    }

    .nav a.active {
      background-color: #4CAF50;
      color: white;
    }


.player {
  width: 100%;
}

.playlist a {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}

.playlist a:hover {
  background: #efefef;
}

.playlist .active,
.playlist .active:hover {
  background: steelblue;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}
.lbl-toggle1 {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}
.lbl-toggle2 {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: #7C5A0B;
}
.lbl-toggle1:hover {
  color: #7C5A0B;
}
.lbl-toggle2:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.lbl-toggle1::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.lbl-toggle2::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.toggle1:checked + .lbl-toggle1::before {
  transform: rotate(90deg) translateX(-3px);
}
.toggle2:checked + .lbl-toggle2::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.collapsible-content1 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.collapsible-content2 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}
.toggle1:checked + .lbl-toggle1 + .collapsible-content1 {
  max-height: 350px;
}
.toggle2:checked + .lbl-toggle2 + .collapsible-content2 {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.toggle1:checked + .lbl-toggle1 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.toggle2:checked + .lbl-toggle2 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}
.collapsible-content1 .content-inner1 {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}
.collapsible-content2 .content-inner2 {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}
    
    
    

</style>

</head>




    <body>




        
        
        
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">
        </li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- info 1 -->
        <div class="carousel-item active" style="
  justify-content: center;"> 
    

<div class="container" style="padding-left: 20%;padding-right: 20%;">

            <h3>Welcome to HapiFlo</h3>
    <br>
            <h4>What do you need right now?</h4>
            <div class= "row">
            <div class="col">
                
                    <div href="#carouselExampleIndicators" role="button" data-slide="next">
      <a><a href="/7" style=" padding-right: 15%;" type="button" id="strengthFlo" class="btn btn-strength"><img src="/images/strong.png" style="float:left;">STRENGTH</a></a>
        <span class="sr-only">Next</span>
    </div><br>
                    <div href="#carouselExampleIndicators"  role="button" data-slide="next">
      <a><a href="/7" style=" padding-right: 15%;" type="button" id="relaxationFlo" class="btn btn-relax"><img src="/images/tired.png" style="float:left;">RELAXATION</a></a>
        <span class="sr-only">Next</span>
    </div><br>
                    <div href="#carouselExampleIndicators" role="button" data-slide="next">
      <a><a href="/7" style=" padding-right: 15%;" type="button" id="meditationFlo" class="btn btn-meditate"><img src="/images/medi.png" style="float:left;">MEDITATION</a></a>
        <span class="sr-only">Next</span>
    </div><br><br><br><br><br>
                
            
          </div>
    </div>
        </div>
            
            
    <br><br>
        </div>
        
        
        <!-- info 2 -->        
        <div id="target" class="carousel-item" style="
  justify-content: center;"> 

            <div class="container"style="padding-left: 20%;padding-right: 20%;">

            <h3>Welcome to HapiFlo</h3>
        <br>
            <h4>What is your experience with Yoga?</h4>
            <div class= "row">
            <div class="col">
    

              
    <div href="#carouselExampleIndicators" role="button" data-slide="next">
      <a><a href="/7" type="button" id="strengthFlo" class="btn btn-strength">    
    I'm just starting!</a></a>
        <span class="sr-only">Next</span>
    </div><br>
                
    <div href="#carouselExampleIndicators" role="button" data-slide="next">
      <a><a href="/7" type="button" id="strengthFlo" class="btn btn-strength">    
    I have some experience.</a></a>
        <span class="sr-only">Next</span>
    </div><br>
                
    <div href="#carouselExampleIndicators" role="button" data-slide="next">
      <a><a href="/7" type="button" id="strengthFlo" class="btn btn-strength">    
    I'm a Yogi.</a></a>
        <span class="sr-only">Next</span>
    </div>
          </div>
    </div><br><br><br><br><br>
        </div>
            

            
            
    <br><br>            

        </div>
        
        
        
        
        
        <!-- info 3 -->        
        <div class="carousel-item" style="
  justify-content: center;">  
            
            
            
 <div class="container" style="padding-left: 25%;padding-right: 25%;">   
     <div class="row">
            <h1 style="padding-left: 5%;">HapiFlo Playlist</h1>
      </div>
     <br>
     <br>
     <div class="row">
         
         

              <!-- This code is refered from 
https://alligator.io/css/collapsible/-->
<div class="wrap-collabsible" style="width:450px;">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">Strength</label>
  <div class="collapsible-content">
    <div class="content-inner">
<nav class="playlist" data-id="1">
  <a href="b20MinuteA2.m4a">Beginner Strength 1: High Energy Stretching (19:34)</a>

</nav>
    </div>
  </div>
</div>       
         <br></div>
     <div class="row">
         <div class="wrap-collabsible1" style="width:450px;">
  <input id="collapsible1" class="toggle1" type="checkbox">
  <label for="collapsible1" class="lbl-toggle1">Relaxation</label>
  <div class="collapsible-content1">
    <div class="content-inner1">
<nav class="playlist" data-id="1">
  <a href="bLow1.m4a">Beginner Relaxation 1: Child's Pose (26:21)</a><br>

</nav>
    </div>
  </div>
         </div>  <br></div>
     <div class="row">
         
<div class="wrap-collabsible2" style="width:450px;">
  <input id="collapsible2" class="toggle2" type="checkbox">
  <label for="collapsible2" class="lbl-toggle2">Meditative</label>
  <div class="collapsible-content2">
    <div class="content-inner2">
<nav class="playlist" data-id="1">
  <a href="bMedi1.m4a" >Beginner Meditation 1: Breath Cycle (12:43)</a><br>
 
</nav>
    </div>
  </div>
</div>  
         
         
</div>
     <br>
     <br>
     <div class="row">
<audio class="player" data-id="1" src="" autostart="false" loop="false" controls></audio>
</div>        
        <br><br><br><br><br>    

</div>   
            
            
            <script>
            // The jQuery Way - Works in all browsers but requires jQuery library.

var $playlistLinks = $('.playlist a');

function playSong(event) {
  event.preventDefault();
  var id = $(this).parent().data('id'),
      player = $('.player[data-id="'+id+'"]')[0],
      $currentPlayListLinks = $('.playlist[data-id="'+id+'"] a');
  $currentPlayListLinks.removeClass('active');
  $(this).addClass('active');
  player.src = $(this).attr('href');
  player.play();
}

$playlistLinks.click(playSong);

// The Alternate Vanilla JavaScript Way - No libraries required but doesn't work in IE8 because use of addEventListener instead of attachEvent oh well...

var playListLinks = document.querySelectorAll('.playlist a');

function playSong(event) {
  event.preventDefault();
  var id = this.parentNode.dataset.id,
      player = document.querySelector('.player[data-id="'+id+'"]'),
      currentPlayListLinks = document.querySelectorAll('.playlist[data-id="'+id+'"] a');
   for (i=0; i < currentPlayListLinks.length; i++) {
    currentPlayListLinks[i].classList.remove('active');
  }
  this.classList.add('active');
  player.src = this.href;
  player.play();   
}

for (i=0; i < playListLinks.length; i++) {
  playListLinks[i].addEventListener('click', playSong);
}
            </script>
            
            
            
            
            
            
            
            
    <br><br>      <div class="carousel-caption">

        </div></div>
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
        

        <div class="nav">
          <a href="" class="active" style="background-color:grey;">Flo</a>
          <a href="/#">Poses... Coming Soon</a>
          <a href="/#">myFlos... Coming Soon</a>
        </div>






    </body>

</html>
