

* {
  margin: 0px;
  padding: 0px;
}



#container {
  background-color: white;
  margin: 0 auto;
  
}

#title {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}

#title sup {
  position: relative;
  top: -20px;
  font-size: 48px;
}

.input {
  display: flex;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 50px;
  height: 50px;
}

.input-box {
  display: inline-flex;
  box-sizing: border-box;
  height: 50px;
  width: 250px;
}

input[type=text], input[type=password] {
  font-weight: 300;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
}

input[type=submit] {
  font-weight: 300;
  display: flex;
  margin: 40px auto;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #f36;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#footer {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

#footer span {
  color: lightgray;
}

#footer a {
  color: white;
  text-decoration: none;
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: black;
}

body {
    font-size: 1em;
}

.main-screen {
    background-image: url("/images/golden.jpg");
    background-size: cover;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    width: 200px;
    height: 30vh;
    /*box-sizing: border-box;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 500ms;
}

.box h1 {
    position: relative;
    order: 1;
    text-align: center;
    letter-spacing: 0.1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/*
.box h1::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px black solid;
}

.box h1::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px black solid;
}
*/
.box h3 {
    order: 2;
    text-align: center;
    padding-bottom: 10px;
}
/* Changes the box when you hover it */
.box::before {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 50px 100vh rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 500ms;
}

.box:hover::before {
    opacity: 1;
}

.box:hover {
    transform: scale(1.2);
}

#boxBtn {
    z-index: 1;
    /*position: relative;*/
    order: 3;
    margin-top: 40px;
    transition: transform 300ms;
}
/* Changes the button when you hover it */
#boxBtn a{
    background: white;
    position: relative;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: bold;
    border: 2px black solid;
    padding: 10px;
    transition: all 300ms;
}

#boxBtn a:hover {
    background: black;
    color: white;
}

